*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: skyblue;
    min-height: 100vh;
    border: 10px solid black;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top-section{margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.image-container{
    overflow: hidden;
    border-radius: 10%;
}

.image-container, img{
    width: 150px;
    height: 45%;
}